Repository solaluset/DandelionMusic: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-jsonc, update-dockerfile

check-jsonc:
  name: check-jsonc
  description: Check JSON with comments
  entry: python -c 'import os, sys; os.system("pip install ./config"); import jsonc; jsonc.load(open(sys.argv[1]))'
  language: python
  require_serial: true

update-dockerfile:
  name: update-dockerfile
  description: Update env vars in Dockerfile
  entry: python -c 'import os, runpy; os.system("pip install ./config"); runpy.run_path("config/update-dockerfile.py")'
  language: python
  require_serial: true

Implement guild whitelist
  Dockerfile
  config/config.py
  musicbot/__main__.py
  musicbot/bot.py
  musicbot/commands/developer.py
Due: update-dockerfile

Bump py-cord
  musicbot/utils.py
  requirements.txt
Due: none

Implement guild whitelist (#267)
  Dockerfile
  config/config.py
  musicbot/__main__.py
  musicbot/bot.py
  musicbot/commands/developer.py
  musicbot/utils.py
  requirements.txt
Due: update-dockerfile

Fix SUPPORTED_EXTENSIONS env var
  config/config.py
Due: update-dockerfile

Auto-update pre-commit hooks
  config/pyproject.toml
Due: none

Fix YouTube extraction
  musicbot/loader.py
Due: none

Auto-update pre-commit hooks
  .pre-commit-config.yaml
  config/pyproject.toml
Due: none

Fix yt-dlp pligins not loading
  config/config.py
  musicbot/__init__.py
Due: update-dockerfile

Fix file playing with slash command
  musicbot/commands/music.py
Due: none

Improve whitelist remove command
  musicbot/commands/developer.py
Due: none

Auto-update pre-commit hooks
  .pre-commit-config.yaml
Due: none

Fix Spotify (remove user agent)
  musicbot/linkutils.py
Due: none

Bump pycord version
  musicbot/utils.py
  requirements.txt
Due: none

Bump yt-dlp version
  requirements.txt
Due: none

Add blush command
  musicbot/commands/roleplay.py
Due: none

Refactor roleplay.py
  musicbot/commands/roleplay.py
Due: none

Add evil-laugh
  musicbot/commands/roleplay.py
Due: none

Add more roleplay commands
  musicbot/commands/roleplay.py
Due: none

Add more RP commands
  musicbot/commands/roleplay.py
Due: none

Remake gif sending to avoid missing gifs
  musicbot/commands/roleplay.py
Due: none

RP: make shout command take user argument
  musicbot/commands/roleplay.py
Due: none

Add more voice assets
  Dockerfile
  assets/disconnect.mp3
  assets/goodbye.mp3
  assets/hello.mp3
  assets/wait.mp3
  config/config.py
  musicbot/audiocontroller.py
Due: update-dockerfile

Add more voice assets (#289)
  Dockerfile
  assets/disconnect.mp3
  assets/goodbye.mp3
  assets/hello.mp3
  assets/wait.mp3
  config/config.py
  musicbot/audiocontroller.py
Due: update-dockerfile

Change wait music
  assets/wait.mp3
Due: none

Bump Pycord
  musicbot/utils.py
  requirements.txt
Due: none

Bump Pycord (#300)
  musicbot/utils.py
  requirements.txt
Due: none

Bump aiomysql to 0.3.2
  config/db-requirements.txt
Due: none

Bump aiomysql to 0.3.2 (#304)
  config/db-requirements.txt
Due: none

Defer before connecting to VC
  musicbot/audiocontroller.py
  musicbot/bot.py
Due: none

Properly notify about failed search
  config/en.json
  musicbot/audiocontroller.py
  musicbot/commands/music.py
  musicbot/loader.py
Due: check-jsonc

Update ffmpeg timestamp
  musicbot/utils.py
Due: none

Bump Pycord version
  musicbot/utils.py
  requirements.txt
Due: none

Attempt to fix dependabot silliness
  config/db.txt
  config/setup.py
Due: none

Path conditions:
  check-jsonc: any of: \.json$
  update-dockerfile: any of: ^config/config\.py$
