Repository solaluset/DandelionMusic: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-jsonc, update-dockerfile

check-jsonc:
  name: check-jsonc
  description: Check JSON with comments
  entry: python -c 'import os, sys; os.system("pip install ./config"); import jsonc; jsonc.load(open(sys.argv[1]))'
  language: python
  require_serial: true

update-dockerfile:
  name: update-dockerfile
  description: Update env vars in Dockerfile
  entry: python -c 'import os, runpy; os.system("pip install ./config"); runpy.run_path("config/update-dockerfile.py")'
  language: python
  require_serial: true

Make current_song a property
  musicbot/audiocontroller.py
  musicbot/playlist.py
Due: none

Make current_song a property (#208)
  musicbot/audiocontroller.py
  musicbot/playlist.py
Due: none

Auto-update pre-commit hooks
  config/pyproject.toml
Due: none

Perform disconnect when playing fails
  musicbot/audiocontroller.py
Due: none

Add basic playlist features
  config/en.json
  musicbot/commands/music.py
  musicbot/settings.py
Due: check-jsonc

Improve playlist feature
  config/en.json
  musicbot/commands/music.py
Due: check-jsonc

Add add_to_playlist command
  config/en.json
  musicbot/commands/music.py
Due: check-jsonc

Make playlists toggleable globally
  Dockerfile
  config/config.py
  config/en.json
  musicbot/commands/music.py
Due: check-jsonc, update-dockerfile

Playlists feature (#211)
  Dockerfile
  config/config.py
  config/en.json
  musicbot/audiocontroller.py
  musicbot/commands/music.py
  musicbot/settings.py
Due: check-jsonc, update-dockerfile

Make playlist a group of commands
  musicbot/commands/music.py
Due: none

Add playlist remove_song command
  config/en.json
  musicbot/commands/music.py
Due: check-jsonc

Add playlist move_song command
  config/en.json
  musicbot/commands/music.py
Due: check-jsonc

Display playlist length on invalid position
  musicbot/commands/music.py
Due: none

Add playlist list command
  config/en.json
  musicbot/commands/music.py
Due: check-jsonc

Add playlist show command
  .pre-commit-config.yaml
  config/en.json
  musicbot/audiocontroller.py
  musicbot/bot.py
  musicbot/commands/music.py
  musicbot/linkutils.py
  musicbot/loader.py
  musicbot/settings.py
  musicbot/song.py
  musicbot/utils.py
Due: check-jsonc

Bump Pycord
  musicbot/utils.py
  requirements.txt
Due: none

Improve playlists (#219)
  .pre-commit-config.yaml
  config/en.json
  musicbot/audiocontroller.py
  musicbot/bot.py
  musicbot/commands/music.py
  musicbot/linkutils.py
  musicbot/loader.py
  musicbot/settings.py
  musicbot/song.py
  musicbot/utils.py
  requirements.txt
Due: check-jsonc

Fix bug with invalid playlist type
  musicbot/song.py
Due: none

Fix bug with invalid playlist type (#232)
  musicbot/song.py
Due: none

Initial Proxy Support
  Dockerfile
  config/config.py
  musicbot/loader.py
  musicbot/settings.py
Due: update-dockerfile

Auto-update pre-commit hooks
  .pre-commit-config.yaml
Due: none

Make black happy with setup.py
  config/setup.py
Due: none

Add roleplay commands
  musicbot/__main__.py
  musicbot/bot.py
  musicbot/commands/roleplay.py
Due: none

Use embed description instead of title
  musicbot/commands/roleplay.py
Due: none

Add slash roleplay commands
  musicbot/commands/roleplay.py
Due: none

Auto-update pre-commit hooks
  .pre-commit-config.yaml
  config/pyproject.toml
Due: none

Fix yt-dlp plugins not loading
  config/config.py
  musicbot/__main__.py
Due: update-dockerfile

Try to fix plugins again
  config/config.py
  musicbot/__init__.py
Due: update-dockerfile

Path conditions:
  check-jsonc: any of: \.json$
  update-dockerfile: any of: ^config/config\.py$
